<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lrt_Ilukste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.14.0" newVersion="3.1.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- add name="IluksteEntities" connectionString="metadata=res://*/IluksteModel.csdl|res://*/IluksteModel.ssdl|res://*/IluksteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACCOUNT\SQLEXPRESS;initial catalog=Ilukste;persist security info=True;user id=sa;password=SqlServer_2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" -->
    <add name="IluksteEntities" connectionString="metadata=res://*/IluksteModel.csdl|res://*/IluksteModel.ssdl|res://*/IluksteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VASILIJS-ROMANE\SQLEXPRESS2019;initial catalog=Ilukste;persist security info=True;user id=sa;password=SqlServer_2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Lrt_Ilukste.Properties.Settings>
      <setting name="Level_Max" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="Level_Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvgTemp_Min" serializeAs="String">
        <value>-30</value>
      </setting>
      <setting name="AvgTemp_Max" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="LabDensity20_Min" serializeAs="String">
        <value>820</value>
      </setting>
      <setting name="LabDensity20_Max" serializeAs="String">
        <value>861.9</value>
      </setting>
      <setting name="Density_Min" serializeAs="String">
        <value>820</value>
      </setting>
      <setting name="Density_Max" serializeAs="String">
        <value>861.9</value>
      </setting>
      <setting name="AutoSaabRead" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaabOPCServerIP" serializeAs="String">
        <value>192.168.133.213</value>
      </setting>
      <setting name="SaabOPCServerName" serializeAs="String">
        <value>SaabTankRadar.TankServer.1</value>
      </setting>
      <setting name="DocumentPath" serializeAs="String">
        <value>c:\Work\Lrt\Lrt_Ilukste\Documents\Report.dot</value>
      </setting>
      <setting name="SaabTimeInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SaabTimeIntervalDB" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="SaabDataSource" serializeAs="String">
        <value>False</value>
      </setting>
    </Lrt_Ilukste.Properties.Settings>
  </userSettings>
</configuration>
